.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100vw;
}

.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
